*{
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style-type: none;
  margin-right: 20px;
}

ul{
  display: flex;
}

.card{
  /* border: 1px solid rgb(164, 164, 164); */
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px #bbbbbb;
  padding: 20px;
  margin: 10px;
  text-align: center;
  display: inline-block;
  height: 200px;
  width: 400px;
}

header{
  height: 30px;
  width: 100%;
  padding: 30px;
  margin-bottom: 20px;
  background: #000;
  color: white;
  display: flex;
}


.title{
  font-size: 20px;
  margin: 5px;
}

img{
  border-radius: 100%;
  height: 100px;
  width: 100px;
}

.student {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

.greeting{
  height: 50px;
  width: 50%;
  border-radius: 60px;
  margin: 10px;
  padding-left: 20px;
  padding-top: 1px;
  background: #000;
  color: white;
}

.user-name {
  background: #1e1e1e;
  padding: 8px;
  color: #c6c6c6;
  border-radius: 20px;
}